body {
    margin: 0px auto;
    width: 100%;
}

span.website-name{
  font-size: 18pt;
  margin-left: 2%;
  margin-right: 3%;
  color: white;
}

nav {
  background-color: #1C2833;
  font-size: 12pt;
  overflow:auto;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 1px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 15pt;
}

nav ul li a{
  color:white;
}

a {
    color: #999;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #21618C;
    /*text-decoration: underline;*/
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    background-color: #1C2833;

}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ol#publications{

}

.align-left{
  float:left;
  margin-right: 100px;
}

img.avatar{
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.icon{
  background:none;
  border-radius: 50%;
}

.icon:hover{
  background:DarkCyan;
}

div.container{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
