<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/png" href="/images/J_logo.png">
		</head>
		<body>

			<nav>
 	    		<ul>
							<li> <a href="/" > <span class="website-name">Jonathan Crabbé </span> </a> </li>
 	        		<li><a href="/">Home</a></li>
 		        	<li><a href="/cv/CV.pdf" download>CV</a></li>
 							<li><a href="/publications">Publications</a></li>
 	        		<li><a href="/blog">Blog</a></li>
 	    		</ul>
 		  </nav>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<center>
	    		<ul>
	        	 <li>
								<a href="mailto:jonathan.cr1302@gmail.com"
								target="_blank">
								<img class="icon" alt="Email" src="/images/email.png" width="40">
								</a>
							</li>
	        		<li>
							<a href="https://github.com/JonathanCrabbe"
								target="_blank"> <img class="icon" alt="Github" src="/images/github.png" width="40">
							</a>
							</li>
							<li>
								<a href="https://scholar.google.com/citations?user=Y_Nmd2sAAAAJ"
								target="_blank">
									<img class="icon" alt="Google Scholar" src="/images/scholar.png" width="40" >
							</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/jonathancrabbe/"
								target="_blank">
								<img class="icon" alt="Linkedin" src="/images/linkedin.png" width="40" >
							</a>
						  </li>
							<li>
              <a href="https://www.maths.cam.ac.uk/person/jc2133"
							target="_blank">
								<img class="icon" alt="Academic" src="/images/academic.png" width="40" >
							</a>
							</li>
				</ul>
			</center>
				<center> <span style="color: white"> Copyright © Jonathan Crabbé 2021 </span> </center>
			</footer>
		</body>
	</html>
